<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Metrics Visualizer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <!-- TODO: critical and non-critical css for render blocking resources -->
  <link rel="stylesheet" href="/style/main.css" />
</head>
<body>
  <header>
    <div class="product-name-wrapper">
      <!-- TODO: nunjuck based variable -->
      <a
        href="https://metrics-visualizer"
        class="product-name-link"
        data-label="Project Logo (header)">
        <img
          src="https://www.gstatic.com/images/icons/material/product/2x/pagespeed_64dp.png"
          class="product-logo"
          alt="PageSpeed Metrics Visualizer">
      </a>
      <!-- TODO: nunjuck based variable -->
      <a
        href="https://metrics-visualizer"
        class="product-name"
        data-label="Upper Header">
        Metrics Visualizer
      </a>
    </div>
    <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/docs.html">Docs</a></li>
      </ul>
    </nav>
  </header>

  {% block body %}
  {% endblock %}
  
  <footer>
  </footer>
  <script>
    // ray test touch <
    const url = 'https://wordpress.org';
    const apiCall = `https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=${url}`;
    fetch(apiCall)
      .then(response => response.json())
      .then(json => {
        // Lab metrics
        const lighthouse = json.lighthouseResult;
        // TODO: constants
        const lighthouseMetrics = {
          'First Byte': lighthouse.audits['time-to-first-byte'].displayValue,
          'First Contentful Paint': lighthouse.audits['first-contentful-paint'].displayValue,
          'First Input Delay': lighthouse.audits['max-potential-fid'].displayValue,
          'Speed Index': lighthouse.audits['speed-index'].displayValue,
          'Time To Interactive': lighthouse.audits['interactive'].displayValue
        };

        const lighthouseScreenshotThumbnails = lighthouse.audits['screenshot-thumbnails'].details.items;

        console.log('ray : ***** lighthouseMetrics, lighthouseScreenshotThumbnails => ', lighthouseMetrics, lighthouseScreenshotThumbnails);
    });
    // ray test touch >
  </script>
</body>
</html>
  