<header>
    <div class="product-name-wrapper">
      <a
        href="{{ app_url }}"
        class="product-name-link"
        data-label="Project Logo (header)">
        <img
          src="{{ logo_url }}"
          class="product-logo"
          alt="PageSpeed Metrics Visualizer">
      </a>
      <a
        href="{{ app_url }}"
        class="product-name"
        data-label="Upper Header">
        {{ app_name }}
      </a>
    </div>
    <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/docs.html">Docs</a></li>
      </ul>
    </nav>
  </header>