
{% extends "templates/wrapper.html" %}
{% block body %}
<article id="post">

  <section>

    <div class="img-container left column">
      <img src="https://cdn.glitch.com/8a455d85-8f99-42e6-837b-dfc94b62b2b9%2Fcontact.jpg?v=1561649029317" alt="Looking up at skyscrapers">
    </div>

    <div class="right column">
      <h2 class="headline">Contact</h2>
      <p class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat
      tincidunt condimentum. Cras convallis purus ut fringilla iaculis. Mauris
      mauris sapien, molestie vitae enim vitae, faucibus volutpat dui. Proin
      iaculis accumsan risus, in auctor magna malesuada quis. Quisque velit
      metus, sagittis a pellentesque id, posuere nec dui. Morbi vel eros
      convallis, cursus tortor quis, consequat massa.
      </p>
    </div>

  </section>

</article>
{% endblock %}