
{% set app_url = "https://metrics-visualizer" %}
{% set app_name = "Metrics Visualizer" %}
{% set logo_url = "https://www.gstatic.com/images/icons/material/product/2x/pagespeed_64dp.png" %}
{% extends "_layout.njk" %}

{% block content %}
<main>
  <div class="main-action">
    <form action="">
      <div class="url-and-analyze">
        <input
          id="url"
          type="text"
          name="url"
          inputmode="url"
          placeholder="Enter a web page URL"
          aria-label="Enter a web page URL">
        <button
          class="analyze-submit"
          type="button">
          Analyze
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
