{% extends "templates/wrapper.html" %}

{% block body %}
<main>
  <div class="main-action">
    <form action="">
      <div class="url-and-analyze">
        <input
          id="url"
          type="text"
          name="url"
          inputmode="url"
          placeholder="Enter a web page URL"
          aria-label="Enter a web page URL">
        <button
          class="analyze-submit"
          type="button">
          Analyze
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock %}